html, body {
    box-sizing: border-box;
    font-family: "ff-meta-web-pro", sans-serif;
    margin: 0;
    padding: 0;
}

.intro {
    background: #c879b2;
    width: 100vw;
    height: 100vw;
}
header h2{
    background: #0d2c40;
    color: #ffff;
    width: 40%;
    height: 100%;

}

header {
    height: 50%;
    display: flex;
}

.summary p{
    color: #ffff;
    left: 50%;
}

.summary a{
    color: #ffff;
}

.intro{
    display: flex;
}

.preamble{
    display: block;
}